body{
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.navbar{
    margin: 0;
    padding: 0;
    display: block;
    left: 0;
    top:0;
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: #252526;
    color: #fff;
}
.navbar-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.navbar-container span{
    display: inline-flex;
    margin-left: 30px;
}
.navbar-container span a{
    color: #ff6266;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    ;
}
.navbar-container span a:hover{
    cursor: pointer;
}
.servers{
    display: block;
    position: relative;
    top: 70px;
    left: 10%;
    width: 80%;
    min-height: 300px;
    border: 1px solid #ff6266;
    border-top: none;

}
.nav-panel{
    display: flex;
    position: relative;
    justify-content: end;
}
.panel-controls{
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: center;
}
.panel-controls ul{
    display: inline-flex;
    margin: 0;
    padding: 0;
}
.panel-controls li{
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}
.panel-search{
    display: block;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}
.panel-search [type=text]{
    padding: 5px;
    border-radius: 3px;
    margin: 0;
}
.panel-search button{
    border: 1px solid #cecece;
    border-radius: 3px;
    height: 100%;
    background-color: #fff;
    margin: 0;
    width: 70px;
}
.panel-search button:active{
    cursor: pointer;
    background-color: #ff6266;
    color: #fff;
}
.server-add, .filter{
    border: 1px solid #cecece;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
}
.servers-table{
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
}
.servers-table table{
    table-layout: auto;
    width: 100%;
    text-align: center;
}
.servers-table th{
    letter-spacing: 2px;
    font-weight: bold;
    color: #ff6266;
}
.servers-table td{
    border-bottom: 1px solid #cecece;
    padding: 15px;
}
.server-wrap{
    display: block;
    min-width: 220px;
    max-width: 420px;
    max-height: 65px;;
    padding: 0;
    margin: 0;
}
.server-wrap img{
    width: 100%;
    height: 100%;
}
.server-address{
    display: flex;
    min-width: 150px;
    max-width: 150px;
    min-height: 65px;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    padding: 5px;
}
.ip{
    display: inline-flex;
    color: #fff;
    font-weight: bold;
    background-color: #252526;
    text-align: center;
    padding: 25px;
}
.server-status{
    display: flex;
    min-width: 150px;
    max-width: 150px;
    min-height: 65px;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    padding: 5px;
}
.status{
    display: inline-flex;
    color: #fff;
    font-weight: bold;
    background-color: #252526;
    text-align: center;
    padding: 25px;
}